@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body::-webkit-scrollbar {
  display: none;
}

 #cta-button-sidebar {
  background-color: red !important;
}

#redddd{
    background-color: red !important;

}
nav{
    margin-bottom: 5em !important;
}

main{
    display: block;
}

hr{
    margin: 1em;
}

