/* status gradient */
.image_gallery {
  margin-top: 6em;
  display: flex;
  border: 1px solid rgba(76, 76, 76, 0.189);
  border-width: 0 0 1px 0;
  flex-direction: row;
  /* set the direction to horizontal */
  justify-content: flex-start;
  /* align items to the left */
  align-items: center;
  overflow-x: scroll;
  /* set the horizontal overflow to scroll */
  scrollbar-width: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image_gallery div {
  width: 300px;
  display: flex;
  max-width: 400px;
  flex-direction: column;


}

.image_gallery img {
  background: linear-gradient(to right, #DE0046, #F7A34B);
  border: 2px solid transparent;
  margin: auto 0.5em;
  width: 209px;
  max-width: 300px;

  height: 100%;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  /* add this line */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_gallery::-webkit-scrollbar {
  display: none;
}

.image_gallery img {
  padding: 0.2em;
  background-color: white;
  margin: 10px 10px 4px;
  max-width: 100px;
  border-radius: 50%;
}

@media screen and (max-width: 400px) {

  .image_gallery img {
    padding: 0.2em;
    margin: 10px 10px 4px;
    width: 6em;
    max-width: 100px;
    border-radius: 50%;
  }

}

@media screen and (max-width: 320px) {

  .image_gallery img {
    padding: 0.2em;
    margin: 10px 10px 4px;
    width: 4em;
    max-width: 100px;
    border-radius: 50%;
  }

}

/*  */
.nav_bg {
  background-color: white !important;
}

#cta-button-sidebar {
  right: 0px !important;
}



.side_bar_width {
  width: 30%;
}

.home_body_width {
  top: 5em;
  display: block;
  width: 70%;
}

/* Suggestions */


.image_gallery::-webkit-scrollbar {
  display: none;
}